/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Abel');
/*Fonts end*/

/*Colors*/
/*#666686 --- Dark blue*/


/*Body */
body {

	/*background-image: url(Images/background1.JPG) ;*/
	/*tex t-align: center;*/
	background-color: red;
	min-width: 100%;
    height: 100vh;
    background-repeat:   no-repeat;
    background-position: center center; 
    background-size: cover;
	font-family: 'Abel', sans-serif;
}
/*Body end*/


/*Loading page*/
#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color:white;/* rgba(192, 192, 192, 0.5);*/
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/*Loading page end*/

/*H1*/
h1 {
	text-align: center;
}
/*H1 end*/

/*Background 1 */
.bg-1 {
	
	
	
  /*  overflow:overlay*/
}
.bg-1 h1 {

	padding-top: 210px;
	color: #00ff9c;
	font-size: 64px;

font-family: 'Abel', sans-serif;
font-weight: normal;


}
/*Background 1 end*/

/*Navbar Brand*/
.navbar {
background-color: transparent;
   background: transparent;
   border-color: transparent;

}
a {
	
}
.navbar-header{
	


}
.navbar-header .navbar-brand{
	color: black;
	padding-left: 200px;
	font-size: 30px;
	font-weight: bold;
	background-image: url(Images/brandBg.png);
		background-position: absolute;
	background-repeat: no-repeat;
	/*background-position: relative;*/
	background-position: 180px 0px;
	background-size: 200px 210px
	

} 
a {



}
/*Navbar Brand end